body{
    padding: 0%;
    margin: 0%;
    background-image: url(pwdd.jpg);
}

.container{
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
}
.square1{
    padding-left: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.square2{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square3{
    padding-right: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Logo a{
    text-decoration: none;
   font-size: 50px;
   color: rgb(0, 0, 0);
}
.ID{
    padding: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.ID:hover{
    background-color: black;
    color: white;
}
.booklet{
    padding: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.booklet:hover{
    background-color: black;
    color: white;
}
.Account{
    padding: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.Account:hover{
    background-color: black;
    color: white;
}
.Us{
    padding: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.Us:hover{
    background-color: black;
    color: white;
}
.Logout{
    padding: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.Logout:hover{
    background-color: black;
    color: white;
}
.leftside{
    padding-right: 150px;
    min-width: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.choices{
    padding-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.Pharmacy,
.Grocery{
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.center{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxcontainer{
    width: 70vw;
    height:80%;
    background-color: #fff5;

    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem ;

    overflow: hidden;
}
.header{
    width: 70vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.733);

    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem ;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    padding-left: 15px;
}
.header button{
    margin-right: 15px;
    width: 130px;
    height: 27px;
    background-color: rgb(101, 101, 243);
    color: white;

    border: 0px;
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.header button:hover{
    background-color: white;
    color: black;
}

.header button img{
    width: 15px;
    height: 15px;
    padding: 5px;
}
.OB{
    width: 100%;
    max-height: calc(89% - 1.6rem);
    background-color: rgba(255, 255, 255);

    margin: .8rem auto;
    border-radius: .6rem;
    font-family: Arial, Helvetica, sans-serif;

    overflow: auto;
    overflow: overlay;
}
table,th,td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}
tbody tr{
    background-color: rgba(0, 0, 0, 0.043);
}
th{
    background-color: #cfcfcffe;
}
td{
    
}
tr:nth-of-type(even){
    background-color: rgba(255, 255, 255, 0.043);
}
tr:nth-of-type(even):hover{
    background-color: rgba(0, 0, 0, 0.078);
}
tr:nth-of-type(odd):hover{
    background-color: rgb(235, 235, 235);
}


