body{
    padding: 0;
    margin: 0;
    
}
section{
    position: relative;
}
section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("pwdd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: -1;
  }

nav{
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    margin: 20px;
    text-decoration: none;
    color: white;
    
}

.Logo a{
    text-decoration: none;
   font-size: 50px;
   color: white;
}
li a:hover{
    border-bottom: 1px solid white;
    
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Underlinelogin{
    margin:auto;
    width: 80%;
    border-bottom: 1px solid white ;
    padding-bottom: 5px;


}
.box{
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, 0.9);

    text-align: center;
    border-radius: 5%;
    color: white;
}
.box label{
    display: flex;
    padding-left: 10%;
    justify-content: start;
}
.box h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2px;
    
}
#Name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1em;
    background:transparent;
    width: 100%;
    height: 31px;
    border: 0;
    outline: none;
    color: white;
}
#MiddleName{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:transparent;
    width: 100%;
    height: 31px;
    border: 0;
    outline: none;
    color: white;
}
#Surname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:transparent;
    font-size: 1em;
    width: 100%;
    height: 31px;
    border: 0;
    outline: none;
    color: white;
}
#Number{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:transparent;
    font-size: 1em;
    width: 100%;
    height: 31px;
    border: 0;
    outline: none;
    color: white;
}
#submit{
    margin-top: 20px;
    padding: 10px;
    padding-right: 140px;
    padding-left: 140px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 201, 24,0.9);
    color: white;
    border: 0px;
    transition:  2s;
}
#submit:hover{
    background-color: white;
    color: black;
}